.NavBar {
    background: url('../../image/blueBackground.jpg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Logo__Menu {
    height: 21vh;
    width: 21vh;
    background: url('../../image/Fire-off-Menu.png');
    background-position: center -3vh;
    background-size: 35vh;
}

.Logo__Image {
    height: 12vh;
    content: url('../../image/Logo-Blanco.png');
    position: absolute;
    padding-left: 4vh;
    padding-top: 7vh;
}


.Text_Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline overline none;
    margin-top: 11vh;
    font-size: 3vh;
    font-weight: bold;
    width: 90%;
}

.Button__Menu {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.Button__Menu__Base {
    background: url('../../image/Menora-Menu-soporte.png');
    background-size: 20vh 11vh;
    background-position: 0vh -2vh;
}

.Button__Menu__Fire {
    height: 21vh;
    width: 20vh;
    background: url('../../image/Fire-off-Menu.png');
    background-position: center;
    background-size: 39vh 24vh;
    text-decoration: none;
    color: white;
}

.Button__Menu__Fire:hover {
    height: 21vh;
    width: 20vh;
    background: url('../../image/Fire-on-Menu.png');
    background-position: center;
    background-size: 39vh 24vh;
    text-decoration: none;
    color: #fff;
}

.active {
    height: 21vh;
    width: 20vh;
    background: url('../../image/Fire-full-Menu.png');
    background-position: center;
    background-size: 39vh 24vh;
    text-decoration: none;
    color: darkblue
}

@media (max-width: 700px) {}